venv/

/classify/media/carry/files/input_files/
/classify/media/carry/files/output_files/

# Compiled Python files
*.pyc
classify/classify/__pycache__/



# Django-related files
*.sqlite3
*.pyc
*.pyo
*.pyc
*.pyo
*.db.sqlite3
*.log
*.pot
*.pyc
*.pyo
