venv/

# ignoring media file
classify/media/*

# keeping media dir itself
!classify/media/.gitkeep

# Compiled Python files
*.pyc
classify/classify/__pycache__/



# Django-related files
# *.sqlite3
*.pyc
*.pyo
*.pyc
*.pyo
# *.db.sqlite3
*.log
*.pot
*.pyc
*.pyo
