{% extends "base.html" %}
{% load static %}

{% block title %}Folder Images: {{ folder_name }}{% endblock %}

{% block content %}
<!-- <div style="display: flex; background-color:dimgrey; margin: 0;">
    <a style="margin: 0 5px 0 0; color: white;" href="{% url 'home' %}"> Home \ </a>
    <a style="margin: 0; color: white;" href="{% url 'files_detail' folder_name=folder_name %}"> Files Detail \ </a>
</div> -->
<h2>Images in {{ folder_name }}:</h2>
<div style="border: 1px solid white;">
    {% for image_url in image_urls %}
        <img src="{{ image_url }}" alt="Image" style="width: 200px; height: 200px; margin: 10px;">
    {% endfor %}
</div>
{% endblock %}
