{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div style="display: flex; background-color: dimgrey; margin: 0;">
        <a style="margin: 0; color: white;" href="{% url 'home' %}"> Home \ </a>
    </div>

    <div class="user-folders">
        <h3>User Folders: {{user}} </h3>
        {% if folder_names %}
            <ul style="display: flex; gap: 10px;">
                {% for folder_name in folder_names %}
                <li style="list-style: none;">
                    <a href="{% url 'files_detail' folder_path=folder_name %}" style="display: flex; flex-direction: column; text-decoration: none; color: wheat;">
                        <img src="{% static 'folder.png' %}" alt="Folder Icon" style="width: 50px; height: 50px;">
                        {{ folder_name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No folders found for this user.</p>
        {% endif %}
    </div>
    <a href="{% url 'core:downloads' %}" style="float: right;"><button style="font-size: 18px; color: white; background-color: red; border: 0; cursor: pointer;">Download</button></a>

{% else %}
    <p style="text-align: center;">You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}
