{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

    <div style="display: flex; background-color:dimgrey; margin: 0;">
        <a style="margin: 0; color: white;" href="{% url 'home' %}"> Home / </a>
        <a style="margin: 0; color: white;" href="{% url 'core:index' %}"> Classify / </a>

        <!-- <h4 style="margin: 0;">Outputs \</h4> -->
    </div>
    
    <div style="display: flex; justify-content: center; padding-top: 20px;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
    
            <div style="margin-bottom: 10px;">
                <label style="font-size: 30px;">Unique file name</label>
                {{ form.title }}
                <!-- {% render_field form.title %} -->
            </div>
    
            <div>
                {{ form.file }}
                <!-- {% render_field form.file %} -->
            </div>
    
            <input type="submit" onclick="loadGif()" id="sub-btn" value="Submit">
        </form>
    </div>

    <div id="load-gif" style="text-align: center; display: none;">
        <iframe src="https://giphy.com/embed/uIJBFZoOaifHf52MER"></iframe>
    </div>

    {% if output %}
    <div style="text-align: center; font-size: 20px;">
        <p> {{ file_dir }} </p>
        
        <button style="color: balck;; width: 150px;height: 35px;"><a href="{{ MEDIA_URL }}/{{ output }}">DOWNLOAD</a></button>
    </div>
    {% endif %}

    

    <script>
        function loadGif() {
            // document.getElementById("load-gif").style.display = "none"; // to hide    
            document.getElementById("load-gif").style.display = "block"; // to show
        }
    </script>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'signup' %}">Sign up</a>
{% endif %}
{% endblock %}
